.header {
    height: 5rem;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    align-items: center;
    background: #008080;
}

.logo {
    font-size: 2rem;
    color: white
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
}

.login button,
.logout button {
    cursor: pointer;
    font: inherit;
    font-size: 1rem;
    border: none;
    background-color: #126969;
    color: #fffefe;
    padding: 0.75rem 1rem;
    border-radius: 25px;
    font-weight: bold;
}

.login button:hover,
.login button:active,
.logout button:hover,
.logout button:active {
    background-color: #0a3535;
}